<footer class="footer">
    <div class="container">
        <div class="copyright">
            <span>&copy; {{ "now"|date("Y") }} Аnt-team</span>
        </div>
    </div>
  <button id="scrollToTop" class="scroll-to-top">↑ Наверх</button>
</footer>

