@media (max-width: 1200px) {

  .container {
    max-width: 940px;
  }

}

@media (max-width: 960px) {}

@media (max-width: 900px) {}

@media (max-width: 767px) {}

@media (max-width: 640px) {}

@media (max-width: 450px) {}

@media (max-width: 400px) {}

@media (max-width: 375px) {}