{% extends 'default/index.html.twig' %}

{% block title %}DC Страница{% endblock %}

{% block head %}
    {# <link rel="stylesheet" href="/assets/styles/dc.css"> #}
{% endblock %}

{% block body %}
    <h2>Контент страницы DC</h2>
    <p>Дополнительная информация для страницы DC</p>
{% endblock %}
